Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [61]:
import pandas as pd
df=pd.Series([4,8,15,16,23,42])
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [50]:
l=[1,2,3,4,5,6,7,8,9,10]
l2=[1,2,3,4,5,6,7,8,9,10]
idx=['a','b','c','d','e','f','g','h','i','j']
df21=pd.Series(l)
df22=pd.Series(l2)
df23=pd.Series(l,index=idx)
df23

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [49]:
df21+df22

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name		Age		Gender
Alice		25		Female
Bob		    30		Male
Claire		27		Female
Then, print the DataFrame.

In [54]:
data={
    'name':['Alice','Bob','Claire'],
    'age':[25,30,27],
    'gender':['Female','Male','Female']
}

df3=pd.DataFrame(data)
df3

     name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Pandas Series									                                Pandas DataFrame
One-dimensional						T			                                Two-dimensional
Homogenous – Series elements must be of the same data type.			            Heterogenous – DataFrame elements can have      different data types.
Size-immutable – Once created, the size of a Series object cannot be changed.	Size-mutable – Elements can be dropped or added in an existing DataFrame.


As noted in the table, a Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, an index can be optional, but a Series has to have an index defined.

In [65]:
#Creating a Series
import pandas as pd
df=pd.Series([4,8,15,16,23,42])
print(df)



#Creating a DataFrame from a dictionary of lists
data = {
    "Class 1": [22, 33, 38],
    "Class 2": [45, 28, 36], 
    "Class 3": [32, 41, 47]
}
df = pd.DataFrame(data=data, index=['math avg', 'science avg', 'english avg'])
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

             Class 1  Class 2  Class 3
math avg          22       45       32
science avg       33       28       41
english avg       38       36       47

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

read_csv(): pd.read_csv is a function in the panda's library in Python that is used to read a CSV (Comma Separated Values) file and convert it into a pandas DataFrame.

describe(): The df.describe() method in pandas is used to generate summary statistics of various features of a DataFrame. It returns a new DataFrame that contains the count, mean, standard deviation, minimum, 25th percentile, median, 75th percentile, and maximum of each numerical column in the original DataFrame.

info(): df.info() is a method in pandas that is used to get a concise summary of the DataFrame, including the number of non-null values in each column, the data types of each column, and the memory usage of the DataFrame.

plot(): df.plot() is a method in pandas that is used to create various types of plots from a DataFrame. By default, it creates a line plot of all numerical columns in the DataFrame. But you can also pass the argument kind to specify the type of plot you want to create. Available options are line, bar, barh, hist, box, kde, density, area, pie, scatter, and hexbin.

iloc(): iloc() function is used to select rows and columns by their integer-based index in a DataFrame. It is used to select rows and columns by their integer-based location.

loc(): loc() function is used to select rows and columns by their label-based index in a DataFrame. It is used to select rows and columns by their label-based location.

assign(): assign() function is used to add new columns to a DataFrame, based on the computation of existing columns. It allows you to add new columns to a DataFrame without modifying the original dataframe. The function returns a new DataFrame with the added columns.

query(): query() function allows you to filter a DataFrame based on a Boolean expression. It allows you to select rows from a DataFrame using a query string similar to SQL. The function returns a new DataFrame containing only the rows that satisfy the Boolean expression.

isnull(): The isnull() method in Pandas returns a DataFrame of the same shape as the original DataFrame, but with True or False values indicating whether each value in the original DataFrame is missing or not. Missing values, such as NaN or None, will be True in the resulting DataFrame, while non-missing values will be False.

fillna(): The fillna() method in Pandas is used to fill in missing values in a DataFrame with a specified value or method. By default, it replaces missing values with NaN, but you can specify a different value to use instead.

dropna(): df.dropna() is a method used in the Pandas library to remove missing or null values from a DataFrame. It removes rows or columns from the DataFrame where at least one element is missing. You can remove all rows containing at least one missing value by calling df.dropna().

drop(): df.drop() is a method used in the Pandas library to remove rows or columns from a DataFrame by specifying the corresponding labels. It can be used to drop one or multiple rows or columns based on their labels.

pivot_table(): pd.pivot_table() is a method in the Pandas library that is used to create a pivot table from a DataFrame. A pivot table is a table that summarizes and aggregates data in a more meaningful and organized way, by creating a new table with one or more columns as the index, one or more columns as values, and one or more columns as attributes.

groupby(): df.groupby() is a method in the Pandas library that is used to group rows of a DataFrame based on one or multiple columns. This allows you to perform aggregate operations on the groups, such as calculating the mean, sum, or count of the values in each group.

merge(): merge() is a pandas function that allows you to combine two DataFrames based on one or more common columns. It is similar to SQL JOINs. The function returns a new DataFrame that contains only the rows where the values in the specified columns match between the two DataFrames.

rename(): rename() is a pandas function that allows you to change the name of one or more columns or rows in a DataFrame. You can use the columns parameter to change the column names, and the index parameter to change the row names.

to_csv(): df.to_csv() is a method used in the Pandas library to export a DataFrame to a CSV file. CSV stands for "Comma Separated Values" and it is a popular file format for storing data in a tabular form.


head(), tail(), type(), len(), url_Data(), drop(), set_index(), reset_index(), DataFrame(), mean(), max(), transpose(), concat(), merge(), join(), apply(), describe(), Categorical(), applymap(), sort_values(), sort_index(), set_option(), split(), mean(), median(), mode(), std(), max(), min(), var(), rolling(), cumsum(), date_range(), value_counts(),

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All Pandas data structures are value mutable (can be changed) and except Series all are size mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [69]:
df_name=pd.Series(["Raja","Ajay","Rakesh","Satish","Jaya"])
df_age=pd.Series([24,28,35,26,23])
df_salary=pd.Series([10000,20000,30000,40000,50000])
df=pd.DataFrame({
    'name':df_name,
    'age': df_age,
    'salary': df_salary
})

df

     name  age  salary
0    Raja   24   10000
1    Ajay   28   20000
2  Rakesh   35   30000
3  Satish   26   40000
4    Jaya   23   50000