Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [29]:
x = "Hello World Namaste to PWSKILLS. Lets Learn"

In [30]:
print(x)

Hello World Namaste to PWSKILLS. Lets Learn

In [3]:
x = ["apple", "banana", "cherry"]

In [4]:
print(x)

['apple', 'banana', 'cherry']

In [5]:
x = 20.5

In [6]:
print(x)

20.5

In [7]:
x = ("apple", "banana", "cherry")

In [8]:
print(x)

('apple', 'banana', 'cherry')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [9]:
var1 = ' '

In [10]:
type(var1)

str

In [11]:
var2 = '[ DS , ML , Python]'

In [12]:
type(var2)

str

In [13]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [14]:
type(var3)

list

In [15]:
var4 = 1

In [16]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [17]:
25/5   # / divides 25 by 5

5.0

In [18]:
24%5  # % gives reminder on dividing 24 by 5

4

In [19]:
# // floor division
x = 15
y = 2

print(x // y)

7

In [20]:
#  ** 	Exponentiation operatior
2**5

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
ls=["Rishav", 25000.00, "Earning", 2, "Year Experience", 4+5j, [1,2,3,4,5], {"name" : "John", "age" : 36}]

for x in ls:
    print(x)

Rishav
25000.0
Earning
2
Year Experience
(4+5j)
[1, 2, 3, 4, 5]
{'name': 'John', 'age': 36}

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [22]:
a=1025
b=5
count=0
store=a

while a%b==0 :
    count+=1
    a=a/b
    
print(b, " divides ",store, " by ",count," times.")

5  divides  1025  by  2  times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [23]:
ls=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for x in ls:
    if x%3==0:
        print(x," is divisible by 3")
    else:
    	print(x," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In mutable data types, we can modify the already existing values of the data types (such as lists, dictionaries, etc.). 
Or, we may add new values or remove the existing values from our data types. Basically, we may perform any operation with 
our data without having to create a new copy of our data type. Hence, the value assigned to any variable can be changed.


In Python, if the value of an object cannot be changed over time, then it is known as immutable. Once created, the 
value of these objects is permanent.

Objects of built-in type that are mutable are:

Lists
Sets
Dictionaries
User-Defined Classes (It purely depends upon the user to define the characteristics) 
Objects of built-in type that are immutable are:

Numbers (Integer, Rational, Float, Decimal, Complex & Booleans)
Strings
Tuples
Frozen Sets
User-Defined Classes (It purely depends upon the user to define the characteristics)

In [24]:
# example to demonstrate list is a mutable data type in python

# our current list
my_list = [1,2,3,4,5]

# using append operation in our list
my_list.append(10)
# printing our list after the operation
print("List after appending a value = ",my_list)

# using extend operation in our list
my_list.extend([6,11,23])
# printing our list after the operation
print("List after extending a list = ",my_list)

# after removing a value from our list
my_list.remove(3)
# printing our list after the operation
print("List after removing a value = ",my_list)

List after appending a value =  [1, 2, 3, 4, 5, 10]
List after extending a list =  [1, 2, 3, 4, 5, 10, 6, 11, 23]
List after removing a value =  [1, 2, 4, 5, 10, 6, 11, 23]

In [25]:
greeting = "Hello!"
greeting[1] = "E"

TypeError: 'str' object does not support item assignment