### Q1. What is a database? Differentiate between SQL and NoSQL databases.\

https://www.integrate.io/blog/the-sql-vs-nosql-difference/#:~:text=SQL%20databases%20are%20relational%2C%20and,NoSQL%20databases%20are%20horizontally%20scalable.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient. The data can then be easily accessed, managed, modified, updated, controlled, and organized. Most databases use structured query language (SQL) for writing and querying data.


#### SQL
- Stands for Structured Query Language
- Relational database management system (RDBMS)
- Suitable for structured data with predefined schema
- Data is stored in tables with columns and rows
- Follows ACID properties (Atomicity, Consistency, Isolation, Durability) for transaction management
- Supports JOIN and complex queries
- Uses normalized data structure
- Requires vertical scaling to handle large volumes of data
- Examples: MySQL, PostgreSQL, Oracle, SQL Server, Microsoft SQL Server


#### NoSQL
- Stands for Not Only SQL
- Non-relational database management system
- Suitable for unstructured and semi-structured data
- Data is stored in collections or documents
- Does not necessarily follow ACID properties
- Does not support JOIN and complex queries
- Uses denormalized data structure
- Horizontal scaling is possible to handle large volumes of data
- Examples: MongoDB, Cassandra, Couchbase, Amazon DynamoDB, Redis

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.


The CREATE TABLE command creates a new table in the database.
The following SQL creates a table called "Persons" that contains five columns: PersonID, LastName, FirstName, Address, and City:
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);


The ALTER TABLE command adds, deletes, or modifies columns in a table.
The ALTER TABLE command also adds and deletes various constraints in a table.
The following SQL adds an "Email" column to the "Customers" table:

ALTER TABLE Customers
ADD Email varchar(255);


The DROP TABLE command deletes a table in the database.
The following SQL deletes the table "Shippers":

DROP TABLE Shippers;


The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
The following SQL truncates the table "Categories": 

TRUNCATE TABLE Categories;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database. This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data. DML is mostly incorporated in SQL databases.


INSERT is your go-to for adding single or multiple rows to a table. INSERT can also help with adding rows from one table into another table.

INSERT INTO tableName
(column1, column2, ...)
VALUES (value1, value2, ...)



The SQL UPDATE statement is another common task used by data engineers and database administrators. Use it to change a column value for one or multiple rows.
    
UPDATE tableName
SET column1=value1, column2=value2,...
WHERE filterColumn=filterValue



DELETE removes one or multiple rows from a table, but be careful! You need to make sure you know what you're deleting before you go ahead and commit to the statement!

DELETE tableName
WHERE  filterColumn=filterValue;

### Q4. What is DQL? Explain SELECT with an example.

DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to perform actions on it. It is the same as the projection operation in relational algebra. The result of a SELECT statement on a table or collection of tables is compiled into a new temporary table, which is subsequently displayed or received by a program, i.e. a front-end.

### Q5. Explain Primary Key and Foreign Key.

A primary key is a unique identifier for each record in a table. A foreign key establishes a relationship between tables by referencing the primary key of another table

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [4]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close

ModuleNotFoundError: No module named 'mysql'

### Q7. Give the order of execution of SQL clauses in an SQL query.

#### 7 STAGES OF SQL ORDER OF EXECUTION 
- FROM/JOIN
- WHERE
- GROUP BY
- HAVING
- SELECT
- ORDER BY
- LIMIT/OFFSET